# -*- mode: snippet -*-
# name: insert image
# key: i
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

![img](https://raw.githubusercontent.com/Ynjxsjmh/ynjxsjmh.github.io/master/img/`(format-time-string "%Y")`/`(format-time-string "%m")`/$2)$3