# -*- mode: snippet -*-
# name: post-head
# key: <me
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --
---
layout:     post
title:      $1
subtitle:   $2
date:       `(format-time-string "%F %R")`
author:     在到处之间找我
header-img: img/post-default-bg.jpg
link:       $3
category:   [$4]
tags:       [$5]
---
