# -*- mode: snippet -*-
# name: inline-image
# key: i
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

image:${1:image's path}[${2:image’s alt text}, title=${3:optional title is displayed as a tooltip} , ${4:width}, ${5:height}]$6