# -*- mode: snippet -*-
# name: ordered-list
# key: <l
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

[${1:$$(yas-choose-value '("arabic" "decimal" "loweralpha" "upperalpha" "lowerroman" "upperroman" "lowergreek"))}, start=${2:1}]
. $3
$4