# -*- mode: snippet -*-
# name: v2ex
# key: v
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

<outline type="rss" text="$1 - V2EX" title="$1 - V2EX" xmlUrl="https://rss.lilydjwg.me/v2ex/$2" htmlUrl="https://www.v2ex.com/t/$2"/>