# -*- mode: snippet -*-
# name: 知乎专栏
# key: z
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

<outline type="rss" text="$1 - 知乎专栏" title="$1 - 知乎专栏" xmlUrl="https://rss.lilydjwg.me/zhihuzhuanlan/$2" htmlUrl="https://zhuanlan.zhihu.com/$2"/>