# -*- mode: snippet -*-
# name: 知乎收藏夹
# key: z
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

<outline type="rss" text="$1 - 知乎收藏夹" title="$1 - 知乎收藏夹" xmlUrl="https://rss.lilydjwg.me/zhihu_collection/$2" htmlUrl="https://www.zhihu.com/collection/$2"/>