# -*- mode: snippet -*-
# name: 知乎用户
# key: z
# contributor: Winy Song <ynjxsjmh AT gmail DOT com>
# --

<outline type="rss" text="$1 - 知乎动态" title="$1 - 知乎动态" xmlUrl="https://rss.lilydjwg.me/zhihu/$2" htmlUrl="https://www.zhihu.com/people/$2"/>